* {
    margin: 0;
    padding: 0;

}
body{
    max-width: 1440px;
    margin: opx auto;
}

header{
    background-image: url(../assets/Hero-bg.png);
    height: 600px;
    background-size: cover;
    }
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 50px;
    list-style: none;

}
.hd{
    text-align: center;
    margin: 158px;

}
.ht{
    color:rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: bold ;
}
.btn{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    background-color:#4E47FF;
    padding: 15px 20px 15px;
    margin-top: 37px;
    border-radius: 10px;



}
.btn:hover:hover{
    background-color: rgb(138, 135, 236);
}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.raleway-fontp{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.action-head{
    font-size: 42px;
    padding-top: 62.3px;
    color: rgba(37, 36, 50, 1);

}
.action-paragraph{
    font-size: 24px;
    padding-top: 23px;
    color: rgba(37, 36, 50, 0.5);


}
.imag-01{
    width: 403px;
    height: 328px;
    border-radius: 30px;

}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 116px 114px 116px ;

}
.ac{
    padding-right: 20px;
}
.ft{
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    padding-top: 50px;
}
.inter-produc{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.inter-producc{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.pro-p1{
    font-size: 80px;
    color: #4E47FF;
    padding-left: 70px;
    padding-right: 70px;

}
.pro-p2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.prodiv{
    display: flex;
    align-items: center;
    padding: 40px 110px 50px;
    }
.pro{
    text-align: center;
    /* border: 1px solid; */
    border-radius: 10px;
    width: 1100px;
    height: 306px;
    margin-left: 120px;
    margin-right: 159px;
    margin-bottom: 137px;
    background-color: rgba(78, 71, 255, 0.1);
}

.lab{
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}
.touch{
    font-size: 97px;
    color: rgba(0, 0, 0, 1);
    padding-right: 233px;
    padding-top: 100px;
    padding-bottom: 129px;
}
.form{
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 32px 20px 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-body{
    width: 497px;
    height: 497px;
    display: flex;
    flex-direction: column;

}

.bttnn{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    background-color:#4E47FF;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 7px;
}
.bttnn:hover{
    background-color: rgb(156, 154, 218);
}
.msec{
    display: flex;
    margin-left: 91px;
    margin-right: 91px;
}
.say-head{
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}
.ifex{
    display: flex;
    list-style: none;
}

.say-h2{
    margin-top: 24px;
}
.sm{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    padding: 5px;
}
.card{
    display: flex;
}
.c1{
    margin-left: 4px;
    color: rgba(117, 117, 117, 1);
    padding: 5px;
}
.card-01{
    background-color: rgba(242, 237, 237, 1);
    border-radius: 15px;
    width: 367px;
    height: 243px;
    padding: 20px;
    margin-right: 20px;
}
.c2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.mdiv{
    display: flex;
    margin-left: 151px;
    margin-right: 151px;
    margin-bottom: 137px;
}
footer{
    width: 1350px;
    height: 428px;
    background-color: rgb(240, 217, 217);
}
.f1{
    text-align: center;
    color: rgba(78, 71, 255, 1);
    font-size: 50px;
    padding-top: 104px

}
.f2{
    text-align: center;
    font-size: 20px;
    padding: 10px 454px 10px;
}
.f3{
    list-style: none;
    display: flex;
    align-items: center ;
    text-decoration: none;
}

.f4{
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-size: 20px;
}
.f5{
    margin-left: 490px;
    margin-right: 490px;
    margin-bottom: 103px;
    padding-top: 10px;
}